/*
Theme Name: mytheme
Theme URI:
Description: Тема для wordpress
Author: Nick Vyslanko
Author URI:
Version: 1.0.0
*/

* {
    margin: 0;
    padding: 0;

}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background: #bbc7b1;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 1;
    background-color: #7cb342;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    display: block;
}
a:hover {
    text-decoration: none;
}


input {
    outline: none;
}

.header{
    background-color: #7cb342;
}

.header_wrap {
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-menu ul {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-menu ul li {
    flex: 1 1 auto;
    text-align: center;

    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.header-menu ul li:after {
    content: "";
    border-right: 1px solid #90be5e;
}
.header-menu ul li:first-child:before {
    content: "";
    border-left: 1px solid #90be5e;
}
.header-menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    width: 100%
}
.header-menu ul li:hover {
    background-color: #90be5e;
    transition: all 0.6s;
}

.title-last-posts,
.title-top-posts,
.title-subscriptions{
    margin: 50px;
}

.img_post{
    width: 100%;
    height: 200px;
}

.img-single{
    width: 70%;
    height: auto;
}

.img_posts{
    width: 50%;
    height: auto;
}

.wrap_post {
    margin: 20px 0 40px 0;
}

.form-submit {
   margin: 20px;
}
